{% extends "base.html" %}

{% block content %}

<h1>{{question}}</h1>

<table>
{% for option in question.option_set.all %}
<tr>
    <td>{{option}}</td> 
    <td>{{option.voters.count}}{%csrf_token%}</td>
    <td>
    	<form action="{%url vote%}" method=POST>{% csrf_token %}
    		<input type="hidden" name="vote" id="id_vote" value="{{option.id}}" />
    		<input type="submit" value="bim"/>
		</form>
	</td>
</tr>
{% endfor %}
</table>
<div class="add_new"><a href="{% url option_new question.pk %}">Add new option</a></div>

{% endblock %}
