<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">

<head>
    <link href="/static/css/common.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/css/sujets.css" type="text/css" media="screen" rel="stylesheet">
</head>

<body>
{% block header %}
    <div id="header">
        <a href="/"><h3>MacLeod</h3></a>
	</div>
{% endblock %}
<div id="auth">{% if user.is_authenticated %}
    Logged in as {{ user.username }}. <a href="{% url logout %}">Logout</a>.
{% else %}
    <a href="{% url socialauth_begin "github" %}">Login using Github.</a>
{% endif %}</div>
{% block content %}
{% endblock %}

    <pre id="roflcopter">
 ROFL:ROFL:ROFL:ROFL
         _^___
 L    __/   []\
LOL===_        \
 L     \________]
         I   I
        -------/
    </pre>
</body>
</html>
