<!DOCTYPE html>
<html lang="fr">

<head>
    <title>MacLeod</title>
    <meta charset="utf-8">
    <link href="/static/css/bootstrap.css" type="text/css" media="screen" rel="stylesheet"/>
    <link href="/static/css/tweaks.css" type="text/css" media="screen" rel="stylesheet"/>
</head>

<body>
<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="/">MacLeod</a>
            <p class="pull-right">{% if user.is_authenticated %}
                Logged in as <a>{{ user.username }}</a>. <small><a href="{% url logout %}">Logout</a>.</small>
            {% else %}
                <a href="{% url socialauth_begin "github" %}">Login using Github.</a>
            {% endif %}</p>
        </div>
    </div>
</div>
<div id="auth"></div>

<div class="container">{% block content %}
{% endblock %}</div>
<footer>
<pre id="roflcopter">
 ROFL:ROFL:ROFL:ROFL
         _^___
 L    __/   []\
LOL===_        \
 L     \________]
         I   I
        -------/
    </pre>
</footer>
</body>
</html>
